<!DOCTYPE html>
<html lang="ko" >
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no">
  <title>선린인터넷고등학교</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="../../css/default.css">

</head>
<body>
<!-- partial:index.partial.html -->
<div class="wrapper">
  <form>
    <h1>DEFAULT</h1>
    <h5>2020년 선린인터넷고등학교 정보보호과 전공동아리 DEFAULT 지원등록 페이지입니다.</h5>
    <hr class="sep"/>
    <div class="group">
      <input type="text" required="required" id="name"/><span class="highlight"></span><span class="bar"></span>
      <label>이름</label>
    </div>
    <div class="group">
      <input type="number" required="required" id="number"/><span class="highlight"></span><span class="bar"></span>
      <label>학번</label>
    </div>
    <div class="group">
      <input type="text" required="required" id="phone"/><span class="highlight"></span><span class="bar"></span>
      <label>전화번호</label>
    </div>
    <div class="group">
      <input type="text" required="required" id="email"/><span class="highlight"></span><span class="bar"></span>
      <label>이메일</label>
    </div>
    <div class="group">
      <textarea name="textarea01" id="textarea01" rows="13" required="required"></textarea><span class="highlight"></span><span class="bar"></span>
      <label>asdfasdfasdfasdfasdfasdfasdfasdfasdfasdffasdfsdfasdfasdfasdf</label>
    </div>
    <div class="group">
      <textarea name="textarea02" id="textarea02" rows="13" required="required"></textarea><span class="highlight"></span><span class="bar"></span>
      <label>asdfasdfasdfasdfasdfasdfasdfasdfasdfasdffasdfsdfasdfasdfasdf</label>
    </div>
    <div class="group">
      <textarea name="textarea03" id="textarea03" rows="13" required="required"></textarea><span class="highlight"></span><span class="bar"></span>
      <label>asdfasdfasdfasdfasdfasdfasdfasdfasdfasdffasdfsdfasdfasdfasdf</label>
    </div>
    <div class="group">
      <textarea name="textarea04" id="textarea04" rows="13" required="required"></textarea><span class="highlight"></span><span class="bar"></span>
      <label>asdfasdfasdfasdfasdfasdfasdfasdfasdfasdffasdfsdfasdfasdfasdf</label>
    </div>
    <div class="group">
      <textarea name="textarea05" id="textarea055" rows="13" required="required"></textarea><span class="highlight"></span><span class="bar"></span>
      <label>asdfasdfasdfasdfasdfasdfasdfasdfasdfasdffasdfsdfasdfasdfasdf</label>
    </div>
    <div class="btn-box">
      <button class="btn btn-submit" type="submit">제출하기
      </button>
    </div>
  </form>
</div>
<!-- partial -->

</body>
</html>
