<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Emotion 4기 지원 페이지</title>
    <link rel="stylesheet" href="../../css/emotion.css" type="text/css">
</head>

<body>
    <form action="/emotion" method="post">
        <div class="emotion-form">
            <div class="emotion-logo">
                <img src="../../css/images/emotion.jpg" alt="Emotion Logo" width="30%"></a>
            </div>

            <div class="box">
                <h1 class="title">Emotion 4기 지원</h1>
                <h5 class="precautions">인공지능 개발 동아리 Emotion입니다<br>모든 문항 필수이고 글자 수 제한은 없습니다</h5>
                <h5 class="precautions">포트폴리오는 선택이며 보내고 싶으신 분은 sunrindaeun@gmail.com
                    으로 부탁드립니다
                    <h5 class="precautions">문의: 이모션 페이지 또는 (부장)010-6553-6542
                        <br>마감 : 3월 0일 12:30
                    </h5>

                    <h5 class="precautions">* 타 동아리와 중복 신청 시 불이익이 있을 수도 있습니다</h5>
                    <ul class="form">
                        <li>
                            <label for="text-input">이름</label>
                            <input type="text" class="text-input" name="name" id="text-input" placeholder="ex) 이다은">
                        </li>
                        <li>
                            <label for="text-input">학번</label>
                            <input type="number" class="text-input" name="number" id=text-input placeholder="ex) 10204">
                        </li>
                        <li>
                            <label for="text-input">전화번호</label>
                            <input type="number" class="text-input" name="phone" id=text-input placeholder="ex) 01065536542">
                        </li>
                        <li>
                            <label for="text-input">이메일</label>
                            <input type="email" class="text-input" name="email" id="text-input"
                                placeholder="ex) sunrindaeun@gmail.com">
                        </li>
                        <li>
                            <label for="text-input">가능한 면접 날짜</label><br>
                            <input type="checkbox" class="checkbox" id="check-box" name="first" value="first"><label for="check-box">3월 0일</label>
                            <br>
                            <input type="checkbox" id="check-box" name="second" value="second"><label for="check-box" >3월 0일</label>
                        </li>
                        <li>
                            <label for="text-input">지원동기</label><br>
                            <textarea name="textarea01" id="textarea-input" cols="54" rows="20"
                                placeholder="지원동기를 작성해주세요"></textarea>
                        </li>
                        <li>
                            <label for="text-input">자신의 포부</label><br>
                            <textarea name="textarea02" id="textarea-input" cols="54" rows="20"
                                placeholder="자신의 포부를 작성해주세요"></textarea>
                        </li>
                        <li>
                            <label for="text-input">자신의 장단점</label><br>
                            <textarea name="textarea03" id="textarea-input" cols="54" rows="20"
                                placeholder="자신의 장단점을 작성해주세요"></textarea>
                        </li>
                        <li>
                            <label for="text-input">이모션에 들어와서 가장 배우고 싶은 것</label><br>
                            <textarea name="textarea04" id="textarea-input" cols="54" rows="20"
                                placeholder="이모션에 들어와서 가장 배우고 싶은 것에 대해서 작성해주세요"></textarea>
                        </li>
                        <li>
                            <label for="text-input">가장 열정적으로 임했던 일과 이를 통해서 이룬 것</label><br>
                            <textarea name="textarea05" id="textarea-input" cols="54" rows="20"
                                placeholder="자신이 가장 열정적으로 임했던 일과 이를 통해서 이룬 것에 대해서 작성해주세요"></textarea>
                        </li>
                        <li>
                            <label for="text-input">자신에게 주어졌던 일 중 가장 어려웠던 경험</label><br>
                            <textarea name="textarea06" id="textarea-input" cols="54" rows="20"
                                placeholder="자신에게 주어졌던 일 중 가장 어려웠던 경험에 대해서 작성해주세요"></textarea>
                        </li>
                        <li>
                            <label for="text-input">마지막 하고 싶은 말</label><br>
                            <textarea name="textarea07" id="textarea-input" cols="54" rows="20"
                                placeholder="마지막으로 하고 싶은 말을 자유롭게 작성해주세요"></textarea>
                        </li>
                    </ul>
                    <button class="button">제출하기</button>
            </div>
        </div>
    </form>
</body>

</html>