<!DOCTYPE html>
<html lang="ko" >
<head>
  <meta charset="UTF-8">
  <title>😣오픈 준비 중...</title>
  <meta name="Keywords" content="html, css, animation, effect, type, typewriter, javascript, html5, css3, ui, ux, webdesign, fontawesome, Developer, Designer, Menu, Hamburger Icons Animations, CSS3, HTML, Buttons, Web, animation, animations, hamburger, icon, icons, span, transition, transform">

<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.1/css/all.min.css'><link rel="stylesheet" href="../../css/style.css">

</head>
<body>

<h1 class="message">
    🚧 지원 사이트 오픈 준비 중입니다 🚧
  </h1>


<footer>
  <p>
		Created with <i class="fa fa-heart"></i> by
		<a target="_blank" href="http://github.com/Choih0401">Choih0401</a>
	</p>
</footer>


  
</body>
</html>
