<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <title>정보보호과 전공동아리</title>
  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto+Condensed'>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.1/css/all.min.css'>
  <link rel="stylesheet" href="../../css/main.css">

</head>



<body>
  <div>
    <section class="background-select2">
      <div class="card">
        <h1>지망선택</h1>
        <div class="go-enter">
          <form id="redirect2" action="https://forms.gle/MaGUCWXxtTr3Z4Er9">
            <div>
              <button type="submit" class="message-submit2">1, 2, 3지망 선택하기</button>
            </div>
          </form>
        </div>
      </div>
    </section>
  </div>
  &nbsp;&nbsp;&nbsp;
  <div>
    <section class="background-select">
      <div class="card">
        <h1 id="club">전공 동아리</h1>
  
        <div class="color-choices">
          <div>
            <input id="choice-1" name="choice" type="radio" />
            <label for="choice-1"></label>
          </div>
  
          <div>
            <input id="choice-2" name="choice" type="radio" />
            <label for="choice-2"></label>
          </div>
  
          <div>
            <input id="choice-3" name="choice" type="radio" />
            <label for="choice-3"></label>
          </div>
  
          <div>
            <input id="choice-4" name="choice" type="radio" />
            <label for="choice-4"></label>
          </div>
  
          <div>
            <input id="choice-5" name="choice" type="radio" />
            <label for="choice-5"></label>
          </div>
          <form id="redirect" action="" method="get">
            <div>
              <button type="submit" class="message-submit">GO</button>
            </div>
          </form>
        </div>
      </div>
    </section>
  </div>
  <footer>
        <p>
          Created with <i class="fa fa-heart"></i> by
          <a target="_blank" href="http://github.com/Choih0401">Choih0401,</a>
          <a target="_blank" href="https://github.com/code-yeongyu">code-yeongyu</a>
        </p>
      </footer>
  <script src='https://code.jquery.com/jquery-2.2.4.min.js'></script>
  <script src="../../javascript//main.js"></script>

</body>

</html>