<!DOCTYPE html>
<html lang="en-KR">
    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <title>NEFUS 18기 지원서</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel="stylesheet" href="../../css/nefus.css">
    </head>
  
    <body>
        <!-- partial:index.partial.html -->
        <div class="wrapper">
            <form action="/nefus" method="post">
                <div
                    class="main">
                    <!--동아리 로고 사진-->
                    <div class="center">
                        <img src="../../css/images/nefus.png" alt="Original NEFUS Logo" height="300" width="300">
                    </div>
                    <br>
                    <!--Detail-->
                    <div class="intro">
                        <h1>NEFUS 18기 지원서</h1>
                        <h5>지원 가능 기간 : 6월 3일 17:00부터 6월 5일 15:00분
                            <br>
                            <br>지원서 작성시 글자수는 공백 포함 기준 입니다.
                            <br>또한 구글 드라이브 작성을 제외한 모든 문항 들은 필수 입니다.
                            <br>이 점 유의하며 작성하시기 바랍니다.
                            <br>
                            <br>모든 문의는
                            <a href="https://facebook.com/sunrinefus">네퓨즈 페이지 메세지</a>로 문의 바랍니다.
                            <br>
                        </h5>
                        <hr class="sep"/>
                    </div>
                    <!--누구세요?-->
                    <div class="group">
                        <input type="text" required="required" name="name" id="name"/>
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label>이름</label>
                    </div>
                    <div class="group">
                        <input type="number" required="required" name="number" id="number"/>
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label>학번</label>
                    </div>
                    <div class="group">
                        <input type="number" required="required" name="phone" id="phone"/>
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label>전화번호</label>
                    </div>
                    <div class="group">
                        <input type="email" required="required" name="email" id="email"/>
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label>이메일</label>
                    </div>
                    <!--지원 동기-->
                    <div class="group">
                        <textarea name="textarea01" id="textarea01" rows="13" required="required"></textarea>
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label>NEFUS에 지원을 하게 된 동기에 대해서 서술하시오
                            <br>(200자 내외로 작성)</label>
                    </div>
                    <!--자기소개서-->
                    <div class="group">
                        <textarea name="textarea02" id="textarea02" rows="13" required="required"></textarea>
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label>자기소개서를 자유롭게 작성하시오.
                            <br>(750자 내외로 작성)</label>
                    </div>
                    <!--자신의 전공 실력과 분야 작성-->
                    <div class="group">
                        <textarea name="textarea03" id="textarea03" rows="13" required="required"></textarea>
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label>자신의 전공 실력 및 분야를 작성하시오. 거짓 기재는 허용 되지 않습니다.
                            <br>( ex) 신입생 특별교육 이수 / 아두이노 / 리눅스 / ... )</label>
                    </div>
                    <!--배우고 싶은 분야-->
                    <div class="group">
                        <textarea name="textarea04" id="textarea04" rows="13" required="required"></textarea>
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label>자신이 네퓨즈에 들어와서 배우고 싶은 것을 적고, 이유를 같이 적어주세요.
                            <br>(200자 내외로 작성해주세요)</label>
                    </div>

                    <!--포토폴리오 제출 링크 입력-->
                    <div class="group">
                        <textarea name="textarea05" id="textarea05" rows="6" required="required"></textarea>
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label>아래에 포토폴리오를 공유한 구글 드라이브 링크를 기재해주세요.
                            <br>(기재할 링크가 없을 경우 "없음"을 입력해주세요. 필수는 아닙니다.)</label>
                        <br>
                        <a href=/unifox/drive>구글 드라이브 사용법</a>
                    </div>
                    <!--최종 제출-->
                </div>
                <div class="btn-box">
                    <button class="btn btn-submit" type="submit">제출하기</button>
                </div>
            </form>
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.29.2/sweetalert2.all.js"></script>
  <script>
    Swal.fire({
      position: 'top-end',
      type: 'info',
      title: '공지사항',
      text: "동아리 지원에 관한 자세한 사항은 \n 정보보호과 클래스룸 확인 바랍니다",
      showConfirmButton: false,
      timer: 2000
  })
  </script>
        <!-- partial -->
    </body>
</html>