<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no">
  <title>UNIFOX 11기 지원서</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../../css/unifox.css">

</head>

<body>
  <!-- partial:index.partial.html -->
  <div class="wrapper">
    <form action="/unifox" method="post">
      <img src="../../css/images/unifox2.png" alt="Smiley face" height="300" width="300">
      <h1>UNIFOX</h1>

      <h5>2020년 선린인터넷고등학교 정보보호과 전공동아리 UNIFOX 12기 지원등록 페이지입니다.</h5> <h5>포트폴리오 제출은 gangyeonjo336@gmail.com으로 제출해주세요.</h5>
      <hr class="sep" />
      <div class="group">
        <input type="text" required="required" name="name" id="name" /><span class="highlight"></span><span
          class="bar"></span>
        <label>이름</label>
      </div>
      <div class="group">
        <input type="number" required="required" name="number" id="number" /><span class="highlight"></span><span
          class="bar"></span>
        <label>학번</label>
      </div>
      <div class="group">
        <input type="number" required="required" name="phone" id="phone" /><span class="highlight"></span><span
          class="bar"></span>
        <label>전화번호</label>
      </div>
      <div class="group">
        <input type="text" required="required" name="email" id="email" /><span class="highlight"></span><span
          class="bar"></span>
        <label>이메일</label>
      </div>
      <div class="group">
        <textarea name="textarea01" id="textarea01" rows="13" required="required"></textarea><span
          class="highlight"></span><span class="bar"></span>
        <label>1.   자기소개를 해주세요. (자신의 장단점, 성격 포함하여 300자 이내)</label>
        <span id="counter01" style="float: right;">###</span>
      </div>
      <div class="group">
        <textarea name="textarea02" id="textarea02" rows="13" required="required"></textarea><span
          class="highlight"></span><span class="bar"></span>
        <label>2.   동아리 지원 동기를 작성해 주세요.(300자 이내)</label>
        <span id="counter02" style="float: right;">###</span>
      </div>
      <div class="group">
        <textarea name="textarea03" id="textarea03" rows="13" required="required"></textarea><span
          class="highlight"></span><span class="bar"></span>
        <label>3.   동아리를 들어온다면 어떤 역할을 담당할 수 있는지 작성해 주세요.(200자 이내)</label>
        <span id="counter03" style="float: right;">###</span>
      </div>
      <div class="group">
        <textarea name="textarea04" id="textarea04" rows="13" required="required"></textarea><span
          class="highlight"></span><span class="bar"></span>
        <label>4.   동아리에 들어와서 가장 하고 싶은 것이 무엇인지 작성해 주세요.(250자 이내)</label>
        <span id="counter04" style="float: right;">###</span>
      </div>
      <div class="group">
        <textarea name="textarea05" id="textarea05" rows="13" required="required"></textarea><span class="highlight"></span><span
          class="bar"></span>
        <label>5.   팀으로 진행하는 프로젝트가 있다면 어떤 프로젝트를 해보고 싶은지 또 어떤 역할을 하고 싶은지 이유와 함께 작성해 주세요. (350자 이내)</label>
        <span id="counter05" style="float: right;">###</span>
      </div>

      <br>


      <div class="btn-box">
        <button class="btn btn-submit" type="submit">제출하기
        </button>
      </div>
    </form>
  </div>
  <!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/3.0.3/handlebars.min.js'></script>
  <script src="../../javascript/unifox.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.29.2/sweetalert2.all.js"></script>
  <script>
    Swal.fire({
      position: 'top-end',
      type: 'info',
      title: '공지사항',
      text: "동아리 지원에 관한 자세한 사항은 \n 정보보호과 클래스룸 확인 바랍니다",
      showConfirmButton: false,
      timer: 2000
  })
  </script>
</body>

</html>