* {
  cursor: url(maplcursor.cur), auto !important;
}

html,
body {
  height: 100%;
}

/*  footer   */
footer {
  background-color: #222;
  color: #fff;
  font-size: 14px;
  bottom: 0;
  position: fixed;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 999;
}

footer p {
  margin: 10px 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida  Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
footer .fa-heart{
  color: red;
}
footer .fa-dev{
  color: #fff;
}
footer .fa-twitter-square{
color:#1da0f1;
}
footer .fa-instagram{
color: #f0007c;
}
fotter .fa-linkedin{
color:#0073b1;
}
footer .fa-codepen{
color:#fff
}
footer a {
  color: #3c97bf;
  text-decoration: none;
margin-right:5px;
}
.githubBtn{
  position: fixed;
  left: 50%;
transform:translatex(-50%);
  bottom: 45px;
  cursor: pointer;
  transition: all .3s;
  vertical-align: middle;
  text-align: center;
  display: inline-block;
}
.githubBtn i{
 font-size:20px;
float:left;
}
.githubBtn a{
  color:#ff0000;
  animation: youtubeAnim 1000ms linear infinite;
float:right;
}
.githubBtn a:hover{
color:#c9110f;
transition:all .3s ease-in-out;
}
.githubBtn i:active{
transform:scale(.9);
transition:all .3s ease-in-out;
}
.githubBtn span{
  font-family: 'Lato';
  font-weight: bold;
  color: #000;
  display: block;
  font-size: 12px;
  float: right;
  line-height: 20px;
  padding-left: 5px;

}

@keyframes youtubeAnim{
0%,100%{
  color:#c9110f;
}
50%{
  color:#ff0000;
}
}

body {
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center;
  background: #34558b;
  -webkit-transition: background-color 0.4s ease-in-out;
  -moz-transition: background-color 0.4s ease-in-out;
  transition: background-color 0.4s ease-in-out;
}

body.choice-1 {
  background-image: url(http://layer7.kr/2020/images/logo.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #121212;
}

body.choice-1 section.background-select .card h1 {
  color: #121212;
}

body.choice-2 {
  background-image: url(./images/unifox.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #b0e0e6;
}

body.choice-2 section.background-select .card h1 {
  color: #ffa500;
}

body.choice-3 {
  background-image: url(./images/nefus.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #13254f;
}

body.choice-3 section.background-select .card h1 {
  color: #13254f;
}

body.choice-4 {
  background-image: url(./images/teamlog.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #aaaaaa;
}

body.choice-4 section.background-select .card h1 {
  color: #ff4949;
}

body.choice-5 {
  background-image: url(https://scontent-ssn1-1.xx.fbcdn.net/v/t1.0-9/26994217_701495803391151_304561625125649476_n.jpg?_nc_cat=111&_nc_ohc=DkO4ceMdhd0AX8sMxpc&_nc_ht=scontent-ssn1-1.xx&oh=d22af324fb7577a24410ef96c459703a&oe=5EFD6F46);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #ffffff;
}

body.choice-5 section.background-select .card h1 {
  color: #0000ff;
}

section.background-select {
  width: 600px;
  background-color: #ffffff;
  opacity: 0.8;
  position: relative;
  z-index: 21;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.1), 0 10px 10px rgba(0, 0, 0, 0.13);
}

section.background-select .card {
  overflow: hidden;
  padding: 40px 20px;
}

section.background-select .card h1 {
  font-size: 60px;
  font-family: "Roboto Condensed", sans-serif;
  letter-spacing: 3px;
  text-align: center;
  text-transform: uppercase;
  color: #837fff;
  margin-top: 0;
  margin-bottom: 40px;
  -webkit-transition: color 0.4s ease-in-out;
  -moz-transition: color 0.4s ease-in-out;
  transition: color 0.4s ease-in-out;
}

section.background-select2 {
  width: 300px;
  background-color: #ffffff;
  opacity: 0.8;
  position: relative;
  z-index: 21;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.1), 0 10px 10px rgba(0, 0, 0, 0.13);
}

section.background-select2 .card {
  overflow: hidden;
  padding: 40px 20px;
}

section.background-select2 .card h1 {
  font-size: 60px;
  font-family: "Roboto Condensed", sans-serif;
  letter-spacing: 3px;
  text-align: center;
  text-transform: uppercase;
  color: #837fff;
  margin-top: 0;
  margin-bottom: 40px;
  -webkit-transition: color 0.4s ease-in-out;
  -moz-transition: color 0.4s ease-in-out;
  transition: color 0.4s ease-in-out;
}

.go-enter {
  width: 100%;
  text-align: center;
}

section.background-select .card .color-choices {
  width: 100%;
  float: left;
  position: relative;
}

section.background-select .card .color-choices div {
  width: 16.6%;
  height: 55px;
  float: left;
  text-align: center;
}

section.background-select .card .color-choices div input {
  width: 0px;
  height: 0px;
  position: absolute;
  top: -99999px;
  left: -99999px;
}

section.background-select .card .color-choices div input:checked~label:after {
  width: 65px;
  height: 65px;
  margin-top: -32.5px;
  margin-left: -32.5px;
}

section.background-select .card .color-choices div:nth-of-type(1) label:before {
  background-color: #121212;
}

section.background-select .card .color-choices div:nth-of-type(1) label:after {
  background-color: #888888;
}

section.background-select .card .color-choices div:nth-of-type(2) label:before {
  background-color: #ffa500;
}

section.background-select .card .color-choices div:nth-of-type(2) label:after {
  background-color: #eec16e;
}

section.background-select .card .color-choices div:nth-of-type(3) label:before {
  background-color: #13254f;
}

section.background-select .card .color-choices div:nth-of-type(3) label:after {
  background-color: #799cee;
}

section.background-select .card .color-choices div:nth-of-type(4) label:before {
  background-color: #ff4949;
}

section.background-select .card .color-choices div:nth-of-type(4) label:after {
  background-color: #ff9696;
}

section.background-select .card .color-choices div:nth-of-type(5) label:before {
  background-color: #0000ff;
}

section.background-select .card .color-choices div:nth-of-type(5) label:after {
  background-color: #cdccff;
}

section.background-select .card .color-choices div label {
  width: 55px;
  height: 55px;
  display: inline-block;
  border-radius: 50%;
  position: relative;
  z-index: 20;
}

section.background-select .card .color-choices div label:before {
  content: "";
  width: 55px;
  height: 55px;
  display: inline-block;
  background: red;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -27.5px;
  margin-left: -27.5px;
  border-radius: 50%;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  z-index: 10;
}

section.background-select .card .color-choices div label:after {
  content: "";
  width: 52px;
  height: 52px;
  background-color: rgba(0, 0, 0, 0.3);
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -26px;
  margin-left: -26px;
  border-radius: 50%;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  z-index: 9;
}

section.background-select .card .color-choices div label:hover {
  cursor: pointer;
}

.message-submit {
  width: 56px;
  height: 56px;
  position: center;
  z-index: 1;
  top: 9px;
  right: 10px;
  color: #fff;
  border: none;
  background: #248A52;
  font-size: 20px;
  text-transform: uppercase;
  line-height: 1;
  padding: 6px 10px;
  border-radius: 30px;
  cursor: pointer;
  outline: none;
}

.message-submit2 {
  width: 250px;
  height: 56px;
  position: center;
  z-index: 1;
  top: 9px;
  right: 10px;
  color: #fff;
  border: none;
  background: #248A52;
  font-size: 20px;
  text-transform: uppercase;
  line-height: 1;
  padding: 6px 10px;
  border-radius: 10px;
  cursor: pointer;
  outline: none;
}