@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

*,:before,:after {
  box-sizing: border-box;
  font-family: 'Noto Sans KR', sans-serif;
  cursor: url(maplcursor.cur), auto !important;
}
body {
  background-image: linear-gradient(95deg, #667eea 0%, #764ba2 100%);
}
.center {
  margin: 1px auto;
  width: 50%;
}
.intro {
  padding: 15px;
  border-radius: 50px;
  background: linear-gradient(135deg, #999eff, #8185e2);
  box-shadow: 18px 18px 45px #7175c6, -18px -18px 45px #adb3ff;
}
.main {
  padding: 40px;
  border-radius: 20px;
  background-image: linear-gradient(42deg, #4e54c8 0%, #8f94fb 100%);
}
form {
  width: 640px;
  margin: 45px auto;
}
form h1 {
  font-size: 3em;
  font-weight: 300;
  text-align: center;
  color: #dcdde1;
}
form h5 {
  text-align: center;
  text-transform: uppercase;
  color: #dcdde1;
}
form hr.sep {
  background: #718093;
  box-shadow: none;
  border: none;
  height: 2px;
  width: 25%;
  margin: 0 auto 45px;
}
form .emoji {
  font-size: 1.2em;
}
.group {
  position: relative;
  margin: 50px 0;
}

textarea {
  resize: none;
}
input,
textarea {
  background: none;
  color: #c6c6c6;
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 555px;
  border: none;
  border-radius: 0;
  border-bottom: 2px solid #c6c6c6;
}
input:focus,
textarea:focus {
  outline: none;
}
input:focus ~ label,
input:valid ~ label,
textarea:focus ~ label,
textarea:valid ~ label {
  top: -20px;
  font-size: 10px;
  color: rgb(255, 255, 255);
}
input:focus ~ .bar:before,
textarea:focus ~ .bar:before {
  width: 555px;
}
input[type="password"] {
  letter-spacing: 0.3em;
}
label {
  color: #c6c6c6;
  font-size: 16px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  -webkit-transition: 300ms ease all;
  transition: 300ms ease all;
}
.bar {
  position: relative;
  display: block;
  width: 640px;
}
.bar:before {
  content: '';
  height: 2px;
  width: 0;
  bottom: 0;
  position: absolute;
  background: #060879;
  -webkit-transition: 300ms ease all;
  transition: 300ms ease all;
  left: 0;
}
.btn {
  background: #ffffff;
  color: #959595;
  font-size: 12px;
  border: none;
  padding: 20px;
  border-radius: 3px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-decoration: none;
  outline: none;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.btn:hover {
  color: #8b8b8b;
  box-shadow: 0 7px 14px rgba(0, 0, 0, 0.18), 0 5px 5px rgba(0, 0, 0, 0.12);
}
.btn.btn-link {
  background: #646ade;
  color: #d3eafd;
}
.btn.btn-link:hover {
  background: #646ade;
  color: #deeffd;
}
.btn.btn-submit {
  background: #8e58c4;
  color: #bce0fb;
}
.btn.btn-submit:hover {
  background: #646ade;
  color: #deeffd;
}
.btn.btn-cancel {
  background: #eee;
}
.btn.btn-cancel:hover {
  background: #e1e1e1;
  color: #8b8b8b;
}
.btn-box {
  text-align: center;
  margin: 50px 0;
}