@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:300|Roboto+Mono:500&display=swap');
*,
:before,
:after {
  box-sizing: border-box;
  cursor: url(maplcursor.cur), auto !important;
}


body {
  width: 100%;
  height: 100%;
  background: url('images/background.png') #eaeaea;
}

form {
  width: 640px;
  margin: 45px auto;
}
form h1 {
  font-family: 'Roboto Mono';
  font-size: 3.4em;
  font-weight: 300;
  text-align: center;
  color: #6d0000;
}
form h5 {
  font-family: 'Noto Sans KR';
  text-align: center;
  color: #282828;
  line-height: 1.8em;
}
form hr.sep {
  background: #9e0000;
  box-shadow: none;
  border: none;
  height: 2px;
  width: 25%;
  margin: 0px auto 45px auto;
}
form .emoji {
  font-size: 1.2em;
}

.group {
  position: relative;
  margin: 45px 0;
}

a{ font-family: 'Noto Sans KR'; }
a:link { color: #6d0000; text-decoration: underline;}
a:visited { color: #6d0000; text-decoration: underline;}
a:hover { color: #8b8b8b; text-decoration: none;}


textarea {
  resize: none;
}

input,
textarea {
  font-family: 'Noto Sans KR';
  background: none;
  color: black;
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 640px;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid black;
}
input:focus,
textarea:focus {
  outline: none;
}
input:focus ~ label, input:valid ~ label,
textarea:focus ~ label,
textarea:valid ~ label {
  top: -14px;
  font-size: 12px;
  color: #9e0000;
}
input:focus ~ .bar:before,
textarea:focus ~ .bar:before {
  width: 640px;
}

input[type="password"] {
  letter-spacing: 0.3em;
}

label {
  font-family: 'Noto Sans KR';
  color: black;
  font-size: 16px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  -webkit-transition: 300ms ease all;
  transition: 300ms ease all;
}

input:-webkit-autofill { -webkit-box-shadow: 0 0 0 30px none inset ;} 

input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, input:-webkit-autofill:active { transition: background-color 5000s ease-in-out 0s; }




.bar {
  position: relative;
  display: block;
  width: 640px;
}
.bar:before {
  content: '';
  height: 2px;
  width: 0;
  bottom: 0px;
  position: absolute;
  background: #9e0000;
  -webkit-transition: 300ms ease all;
  transition: 300ms ease all;
  left: 0%;
}

.btn {
  font-family: 'Noto Sans KR';
  background: #fff;
  color: #959595;
  border: none;
  padding: 10px 20px;
  border-radius: 3px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-decoration: none;
  outline: none;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.btn:hover {
  color: #8b8b8b;
  box-shadow: 0 7px 14px rgba(0, 0, 0, 0.18), 0 5px 5px rgba(0, 0, 0, 0.12);
}
.btn.btn-link {
  background: #9e0000;
  color: #ff7f7f;
}
.btn.btn-link:hover {
  background: #9e0000;
  color: #ff7f7f;
}
.btn.btn-submit {
  background: #9e0000;
  color: #ffadad;
}
.btn.btn-submit:hover {
  background: #9e9e9e;
  color: black;
}
.btn.btn-cancel {
  background: #eee;
}
.btn.btn-cancel:hover {
  background: #e1e1e1;
  color: #8b8b8b;
}

.btn-box {
  text-align: center;
  margin: 50px 0;
  float: center;
}
.logo_box {
    text-align: center;
}

.container {
    margin: 0 auto;
    padding: 20px;
    width:690px;
    border-color:black;
    border-width: 1px;
    background-color: rgba(200,200,200,0.4);
}

#small_font{
    font-size: 14px;
}

#middle_font{
    font-size: 15px;
}


